<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @content.image_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @content.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
